<div class="after_buying">
    <div id="square"></div>
    <div id="polygon"></div>
    <div class="written_2_lines">
        <p id="progress_bar">PÁGINA PRINCIPAL > ASSISTÊNCIA</p>
        <p id="assistance">ASSISTÊNCIA PÓS-COMPRA</p>
    </div>
    <div class="boxes">
        <div class="talk_tech">
            <div class="contents_talk_tech">
                <p id="talk">CONVERSE COM NOSSOS TÉCNICOS</p>
                <p id="repair">COMPROU UM PRODUTO WEG E ELE PRECISA DE REPAROS?</p>
                <button id="enter_chat">ENTRE NO CHAT COM TÉCNICOS DA WEG</button>
            </div>
            <img id="talk_img" src="assets/img/app-after-buying-assistance-talk.png" alt="">
        </div>
        <div class="benefits">
            <p id="benefit_text">BENEFÍCIOS:</p>
            <div class="information_paragraph">
                <p>
                O desperdício de produtos por falta de informações é evitado, 
                assim o concerto deles pode gerar uma vida útil maior.
                </p>
                <p>
                O deslocamento de profissionais é diminuído com uma assistência online, 
                assim recursos naturais são preservados.
                </p>
            </div>
        </div>
        <div class="send_irrep">
            <img id="world_img" src="assets/img/app-after-buying-assistance-world.png" alt="">
            <div class="information_irrep">
                <p id="send_irrep_prod">ENVIE OS PRODUTOS WEG IRREPARÁVEIS</p>
                <p>DENTRE OS VALORES WEG HÁ A PRESERVAÇÃO DO MEIO AMBIENTE.</p>
                <button id="know_more">SAIBA MAIS</button>
            </div>
        </div>
        <div class="benefits">
            <p id="benefit_text">BENEFÍCIOS:</p>
            <div class="information_paragraph">
                <p>
                A WEG conduz seus produtos irreparáveis para fins mais desejáveis,
                os reciclando e reutilizando algumas de suas partes.
                </p>
                <p>
                O desperdício de matéria-prima desses produtos diminui, 
                o fazendo ficar mais barato e ajudando a preservar o meio ambiente.
                </p>
            </div>
        </div>
    </div>
</div>