<div class="after_buying">
    <div id="square"></div>
    <div id="polygon"></div>
    <div id="written_2_lines">
        <p id="progress_bar">PÁGINA PRINCIPAL > ASSISTÊNCIA</p>
        <p id="assistance">ASSISTÊNCIA PÓS-COMPRA</p>
    </div>
    <div id="talk_tech">
        <div id="contents_talk_tech">
            <p>CONVERSE COM NOSSOS TÉCNICOS</p>
            <p>COMPROU UM PRODUTO WEG E ELE PRECISA DE REPAROS?</p>
            <button>ENTRE NO CHAT COM TÉCNICOS DA WEG</button>
            <img src="assets/img/app-after-buying-assistance-talk.png" alt="">
        </div>
    </div>
</div>