<div id="header">
    <picture>
        <img id="logo" src="assets/img/app-navbar-weg-logo.png" alt="">
    </picture>
    <div id="search">
        <input type="text" class="search_bar" placeholder="O que você está procurando?">
        <img class="search_icon" src="assets/img/app-navbar-search.png" alt="">
    </div>
    <div id="options">
        <img id="option" class="settings" src="assets/img/app-navbar-settings.png" alt="">
        <img id="option" class="user" src="assets/img/app-navbar-user.png" alt="">
        <img id="option" class="shopping_cart" src="assets/img/app-navbar-shopping-cart.png" alt="">
    </div>
</div>